.header {
    @include flex-space-between;
    padding: 15px;
 
    &__link {
       display: flex;
       text-decoration: none;
    }
 
    &__logo {
       width: 150px;
       height: 150px;
    }
    &__blockquoteAmosov{
      color: #63090c;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 20px;
    }
}