.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-auth {
  padding: 10px;
}

.hidden-element {
  display: none;
}

.error {
  color: red;
}

